.footer {
  background-color: var(--blackish);
  margin-top: 1.8rem;

  @media (--sm) {
    margin-top: 2.7rem;
  }

  @media (--md) {
    margin-top: 3.6rem;
  }

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.4rem;
  }

  &__share {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--gold);
    text-transform: uppercase;
    font-size: 0.81rem;
    letter-spacing: 1px;
    font-weight: 600;

    & span {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      & ul {
        display: flex;

        & li {
          padding-left: 0.9rem;
          font-size: 1.35rem;

          &:hover {
            color: var(--white);
          }
        }
      }
    }
  }

  &__logo {
    width: 50%;
    flex: 1;
    display: flex;
    justify-content: center;
    justify-self: flex-start;

    & span {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 5.4rem 2.7rem;
      width: 5.4rem;
      height: 2.7rem;
      margin-left: auto;
    }
  }
}
